

body {
  background: linear-gradient(45deg, #fc466b, #3f5efb);
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.header{
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr 0.1fr;

}
.connect{
  float: right;
  width: 200px;
  margin: 10px
}